section > div:first-child {
    display: flex;
    min-height: 500px;
}

section > div div:first-child {
    width: 100%;
}

section > div div:last-child {
    width: 200px;
}

section > form {
    padding: 5px 10px;
}

input[type="text"] {
    height: 39px;
    margin-bottom: 10px;
    width: calc(100% - 105px);
}
#alarms {
    height: 100%;
    margin: 0;
    border-left: 1px solid #D1D1D1;
}