section {
    margin: 10px;
    padding: 10px;
    border: 1px solid #d1d1d1;
}

section > div:first-child {
    display: flex;
    height: 500px;
    overflow: hidden;
}

section > div > div:first-child {
    width: 100%;
}

section > div > div:last-child {
    width: 200px;
}

section > form {
    padding: 10px 10px 5px 10px;
    margin: 0;
}

h5 {
    text-align: center;
}

input[type="text"] {
    height: 39px;
    width: calc(100% - 105px);
    margin: 0;
}

button.button-primary {
    margin: 0;
}

.col {
    display: flex;
    flex-direction: column;
}

.border-left {
    border-left: 1px solid #D1D1D1;
}

.user-message, .bot-message {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.user-message p {
    border-radius: 3px;
    border: 1px solid #15afc0;
    position: relative;
    background: #16cbda;
    color: white;
    display: inline-block;
    transform: translateX(-100%);
    right: calc(-100% + 10px);
}

.user-message p:after {
    content: '';
    background: #16cbda;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -2px;
    transform: rotate(45deg) translateY(-50%);
    z-index: -1;
    top: 50%;
}

.bot-message p {
    border-radius: 3px;
    border: 1px solid #0078d7;
    position: relative;
    background: #0092ff;
    color: white;
    display: inline-block;
}

.bot-message p:after {
    content: '';
    background: #0092ff;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -9px;
    transform: rotate(45deg) translateY(-50%);
    z-index: -1;
    top: 50%;
}

.bot-message p, .user-message p {
    padding: 5px;
}

.user-message + .bot-message {
    margin-top: 5px;
}

.content-mask {
    height: 100%;
    overflow: hidden;
}

.messages-container {
    transform: translateY(0);
    transition: transform .5s ease-out;
}

h5 {
    margin: 0;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
}

ul.alarms-list {
    height: 100%;
    margin: 0;
}

ul.alarms-list {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    height: calc(100% - 30px);
}

ul.alarms-list li {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #d5d5d7;
    min-height: 120px;
}

ul.alarms-list li h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #f7f7f9;
    border-bottom: 1px solid #d5d5d7;
    margin: 0;
    padding: 10px;
}

ul.alarms-list li p {
    margin: 5px 0 0 0;
    font-size: 11px;
    padding: 5px;
}