{
  "x-generator": "NSwag v11.13.2.0 (NJsonSchema v9.10.21.0 (Newtonsoft.Json v11.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "QnA Maker REST API",
    "description": "QnA Maker REST API V4.0",
    "version": "4.0"
  },
  "host": "westus.api.cognitive.microsoft.com",
  "basePath": "/qnamaker/v4.0",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/alterations": {
      "get": {
        "tags": [
          "Alterations"
        ],
        "summary": "Download alterations from runtime.",
        "operationId": "Download Alterations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Alterations data.",
            "schema": {
              "$ref": "#/definitions/WordAlterationsDTO"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "wordAlterations": [
                  {
                    "alterations": [
                      "qnamaker",
                      "qna maker"
                    ]
                  },
                  {
                    "alterations": [
                      "botframework",
                      "bot framework"
                    ]
                  },
                  {
                    "alterations": [
                      "webchat",
                      "web chat"
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Alterations"
        ],
        "summary": "Replace alterations data.",
        "operationId": "Replace Alterations",
        "parameters": [
          {
            "name": "wordAlterations",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WordAlterationsDTO"
            },
            "x-nullable": true,
            "description": "New alterations data."
          }
        ],
        "responses": {
          "204": {
            "description": "HTTP 204 No Content."
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      }
    },
    "/endpointkeys": {
      "get": {
        "tags": [
          "EndpointKeys"
        ],
        "summary": "Gets endpoint keys for an endpoint",
        "operationId": "Get Endpoint Keys",
        "parameters": [],
        "responses": {
          "200": {
            "description": "response with endpoint info in it.",
            "schema": {
              "$ref": "#/definitions/EndpointKeysDTO"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "primaryEndpointKey": "73e88a14-694a-44d5-883b-184a68aa8530",
                "secondaryEndpointKey": "b2c98c16-ca31-4294-8626-6c57454a5063"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      }
    },
    "/endpointkeys/{keyType}": {
      "patch": {
        "tags": [
          "EndpointKeys"
        ],
        "summary": "Re-generates an endpoint key.",
        "operationId": "Refresh Endpoint Keys",
        "parameters": [
          {
            "type": "string",
            "name": "keyType",
            "in": "path",
            "required": true,
            "x-nullable": false,
            "description": "type of Key"
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the endpoint keys generated.",
            "schema": {
              "$ref": "#/definitions/EndpointKeysDTO"
            },
            "x-nullable": true
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      }
    },
    "/knowledgebases": {
      "get": {
        "tags": [
          "Knowledgebases"
        ],
        "summary": "Gets all knowledgebases for a user.",
        "operationId": "Get Knowledgebases for user",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Collection of knowlegebases.",
            "schema": {
              "$ref": "#/definitions/KnowledgebasesDTO"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "knowledgebases": [
                  {
                    "id": "9d091697-fb8c-4ed5-9ac0-35bf8273bfff",
                    "hostName": "https://myqnamakerbot.azurewebsites.net",
                    "lastAccessedTimestamp": "2018-03-16T10:59:46Z",
                    "lastChangedTimestamp": "2018-03-16T10:58:10Z",
                    "lastPublishedTimestamp": "2018-03-16T10:59:56Z",
                    "name": "My QnA Maker Bot",
                    "userId": "03a4f4ce-30a6-4ec6-b436-02bcdf6153e1",
                    "urls": [
                      "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                      "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq"
                    ],
                    "sources": [
                      "Custom Editorial",
                      "SurfaceManual.pdf"
                    ]
                  }
                ]
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      }
    },
    "/knowledgebases/{kbId}": {
      "get": {
        "tags": [
          "Knowledgebases"
        ],
        "summary": "Gets details of a specific knowledgebase.",
        "operationId": "Get Knowledgebase Details",
        "parameters": [
          {
            "type": "string",
            "name": "kbId",
            "in": "path",
            "required": true,
            "x-nullable": false,
            "description": "Knowledgebase id."
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the knowledgebase.",
            "schema": {
              "$ref": "#/definitions/KnowledgebaseDTO"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "id": "9d091697-fb8c-4ed5-9ac0-35bf8273bfff",
                "hostName": "https://myqnamakerbot.azurewebsites.net",
                "lastAccessedTimestamp": "2018-03-16T10:59:46Z",
                "lastChangedTimestamp": "2018-03-16T10:58:10Z",
                "lastPublishedTimestamp": "2018-03-16T10:59:56Z",
                "name": "My QnA Maker Bot",
                "userId": "03a4f4ce-30a6-4ec6-b436-02bcdf6153e1",
                "urls": [
                  "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                  "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq"
                ],
                "sources": [
                  "Custom Editorial",
                  "SurfaceManual.pdf"
                ]
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Knowledgebases"
        ],
        "summary": "Deletes the knowledgebase and all its data.",
        "operationId": "Delete Knowledgebase",
        "parameters": [
          {
            "type": "string",
            "name": "kbId",
            "in": "path",
            "required": true,
            "x-nullable": false,
            "description": "Knowledgebase id."
          }
        ],
        "responses": {
          "204": {
            "description": "HTTP 204 No content."
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Knowledgebases"
        ],
        "summary": "Publishes all changes in test index of a knowledgebase to its prod index.",
        "operationId": "Publish Knowledgebase",
        "parameters": [
          {
            "type": "string",
            "name": "kbId",
            "in": "path",
            "required": true,
            "x-nullable": false,
            "description": "Knowledgebase id"
          }
        ],
        "responses": {
          "204": {
            "description": "HTTP 204 No content."
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Knowledgebases"
        ],
        "summary": "Replace knowledgebase contents.",
        "operationId": "Replace Knowledgebase",
        "parameters": [
          {
            "type": "string",
            "name": "kbId",
            "in": "path",
            "required": true,
            "x-nullable": false,
            "description": "Knowledgebase id"
          },
          {
            "name": "replaceKb",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ReplaceKbDTO"
            },
            "x-nullable": true,
            "description": "An instance of ReplaceKbDTO which contains list of qnas to be uploaded"
          }
        ],
        "responses": {
          "204": {
            "description": "HTTP 204 No content."
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Knowledgebases"
        ],
        "summary": "Asynchronous operation to modify a knowledgebase.",
        "operationId": "Update Knowledgebase",
        "parameters": [
          {
            "type": "string",
            "name": "kbId",
            "in": "path",
            "required": true,
            "x-nullable": false,
            "description": "Knowledgebase id"
          },
          {
            "name": "updateKb",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateKbOperationDTO"
            },
            "x-nullable": true,
            "description": "Post body of the request."
          }
        ],
        "responses": {
          "202": {
            "description": "Details of the asynchronous operation.",
            "schema": {
              "$ref": "#/definitions/Operation"
            },
            "x-nullable": true,
            "headers": {
              "Location": {
                "type": "string",
                "description": "Relative URI to the target location of the asynchronous operation. Client should poll this resource to get status of the operation."
              }
            },
            "examples": {
              "application/json": {
                "operationState": "NotStarted",
                "createdTimestamp": "2018-03-19T02:08:46Z",
                "lastActionTimestamp": "2018-03-19T02:09:29Z",
                "userId": "86bb8390-56c0-42c2-9f81-3de161981191",
                "operationId": "03a4f4ce-30a6-4ec6-b436-02bcdf6153e1"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      }
    },
    "/knowledgebases/createasync": {
      "post": {
        "tags": [
          "Knowledgebases"
        ],
        "summary": "Asynchronous operation to create a new knowledgebase.",
        "operationId": "Create Knowledgebase",
        "parameters": [
          {
            "name": "createKbPayload",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateKbDTO"
            },
            "x-nullable": true,
            "description": "Post body of the request."
          }
        ],
        "responses": {
          "202": {
            "description": "Details of the asynchronous operation.",
            "schema": {
              "$ref": "#/definitions/Operation"
            },
            "x-nullable": true,
            "headers": {
              "Location": {
                "type": "string",
                "description": "Relative URI to the target location of the asynchronous operation. Client should poll this resource to get status of the operation."
              }
            },
            "examples": {
              "application/json": {
                "operationState": "NotStarted",
                "createdTimestamp": "2018-03-19T02:08:46Z",
                "lastActionTimestamp": "2018-03-19T02:09:29Z",
                "userId": "86bb8390-56c0-42c2-9f81-3de161981191",
                "operationId": "03a4f4ce-30a6-4ec6-b436-02bcdf6153e1"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      }
    },
    "/knowledgebases/{kbId}/{environment}/qna": {
      "get": {
        "tags": [
          "Knowledgebases"
        ],
        "summary": "Download the knowledgebase.",
        "operationId": "Download Knowledgebase",
        "parameters": [
          {
            "type": "string",
            "name": "kbId",
            "in": "path",
            "required": true,
            "x-nullable": false,
            "description": "Knowledgebase id"
          },
          {
            "type": "string",
            "name": "environment",
            "in": "path",
            "required": true,
            "x-schema": {
              "$ref": "#/definitions/KnowledgebaseEnvironment"
            },
            "x-nullable": false,
            "description": "Specifies whether environment is Test or Prod.",
            "enum": [
              "Prod",
              "Test"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Collection of all Q-A in the knowledgebase.",
            "schema": {
              "$ref": "#/definitions/QnADocumentsDTO"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "qnaDocuments": [
                  {
                    "id": 1,
                    "answer": "You can change the default message if you use the QnAMakerDialog. See this for details: https://docs.botframework.com/en-us/azure-bot-service/templates/qnamaker/#navtitle",
                    "source": "Custom Editorial",
                    "questions": [
                      "How can I change the default message from QnA Maker?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 2,
                    "answer": "You can use our REST apis to manage your KB. See here for details: https://westus.dev.cognitive.microsoft.com/docs/services/58994a073d9e04097c7ba6fe/operations/58994a073d9e041ad42d9baa",
                    "source": "Custom Editorial",
                    "questions": [
                      "How do I programmatically update my KB?"
                    ],
                    "metadata": [
                      {
                        "name": "category",
                        "value": "api"
                      }
                    ]
                  },
                  {
                    "id": 3,
                    "answer": "QnA Maker provides an FAQ data source that you can query from your bot or application. Although developers will find this useful, content owners will especially benefit from this tool. QnA Maker is a completely no-code way of managing the content that powers your bot or application.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "Who is the target audience for the QnA Maker tool?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 4,
                    "answer": "<p>You can sign in with your <a href=\"https://account.microsoft.com/account\" data-linktype=\"external\">Microsoft account</a></p>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "How do I sign in to the QnA Maker portal?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 5,
                    "answer": "<p>Yes, currently the QnA Maker tool is free to use. However, usage is metered for each account. For more information, see <a href=\"https://qnamaker.ai/Documentation/Authentication\" data-linktype=\"external\">Authentication and subscription keys</a></p>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "Is the QnA Maker Service free?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 6,
                    "answer": "It�s possible that the tool can't auto-extract some question-and-answer (QnA) content from valid FAQ URLs. In such cases, you can paste the QnA content in a .txt file and see if the tool can ingest it. Alternately, you can editorially add content to your knowledge base.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "My URLs have valid FAQ content, but the tool cannot extract them. Why not?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 7,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>The tool supports the following file formats for ingestion:</p><ul><li>.tsv: QnA contained in the format Question(tab)Answer.</li><li>.txt, .docx, .pdf: QnA contained as regular FAQ content--that is, a sequence of questions and answers.</li></ul></main>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "What format does the tool expect for the file content?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 8,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>No, you don�t. However, QnA Maker is offered as one of several templates in <a href=\"https://azure.microsoft.com/services/bot-service/\" data-linktype=\"external\">Azure Bot Service</a>. Bot Service enables rapid intelligent bot development through Microsoft Bot Framework, and it runs in a serverless environment. </p><p>Bots scale based on demand. You pay for only the resources that you consume.</p></main>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "Do I need to use Bot Framework in order to use QnA Maker?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 9,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>QnAMaker provides a REST endpoint that you can call from any bot code. However, if you'd like a quick way to set up a QnAMaker bot, you can use the <a href=\"https://docs.microsoft.com/bot-framework/bot-service-overview-introduction\" data-linktype=\"external\">Azure Bot Service</a>. Follow the instructions <a href=\"https://docs.microsoft.com/bot-framework/bot-service-quickstart\" data-linktype=\"external\">here</a> and choose the \"Question and Answer\" bot template. Once the bot is created, you will need to do the following steps to complete setup.</p><ol><li>In Azure portal, open the newly created Web App Bot resource.</li><li>Click on \"Application Settings\" and in the App Settings list, add QnASubscriptionKey and QnAKnowledgebaseId. The corresponding values can be obtained from the KB Settings page in <a href=\"http://qnamaker.ai/\" data-linktype=\"external\">http://qnamaker.ai</a>.</li><li>The QnAMaker-enabled Azure bot service app is now ready to use. To try it out click on \"Test in Web Chat\" to chat with your QnA bot.</li></ol></main>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "How can I create a bot with QnAMaker?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 10,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>Follow these steps to embed the QnA Maker service as a web-chat control in your website:</p><ol><li>Create your knowledge base from the <a href=\"https://qnamaker.ai/\" data-linktype=\"external\">QnA Maker webpage</a>.</li><li>Create your bot as shown in <a href=\"https://docs.botframework.com/en-us/azure-bots/build/first-bot/#navtitle\" data-linktype=\"external\">Create a bot with the Azure Bot Service</a>. </li><li>Look for the Question and Answer bot template.</li><li>Enable the bot on the Web Chat channel. Get the embed keys.</li><li>Embed the web chat as shown in <a href=\"https://docs.botframework.com/en-us/support/embed-chat-control2/#navtitle\" data-linktype=\"external\">Connect a bot to Web Chat</a>.</li></ol></main>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "How do I embed the QnA Maker service in my website?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 11,
                    "answer": "Currently, the QnA Maker tool handles semi-structured FAQ content and certain types of product manuals. Eventually, the vision is to be able to answer questions from unstructured content as well.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "What is the roadmap of QnA Maker?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 12,
                    "answer": "Currently, the limit is a 20-MB knowledge base.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "How large a knowledge base can I create?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 13,
                    "answer": "Every edit operation, whether in a table update, test, or settings, needs to be saved before it can be published. Be sure to select the Save and retrain button after every edit operation.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "The updates that I made to my knowledge base are not reflected on publish. Why not?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 14,
                    "answer": "The upload feature expects the file to be formatted as tab-separated columns of question, answer, and source.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "Why can�t I replace my knowledge base with the upload feature?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 15,
                    "answer": "You should refresh your subscription keys if you suspect that they have been compromised. Any requests with your subscription key will count toward your quota.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "When should I refresh my subscription keys?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 16,
                    "answer": "The QnA Maker tool stores all knowledge base content in Azure Storage. You need a combination of knowledge base ID and subscription key to access the knowledge base. The tool doesn't use knowledge base content for any other purpose.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "How safe is the data in my knowledge base?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 17,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>The knowledge base supports Markdown. However, the auto-extraction from URLs has limited HTML-to-Markdown conversion capability. If you want to use full-fledged Markdown, you can modify your content directly in the table, or upload a knowledge base with the rich content.</p><p>Multimedia, such as images and videos, is not supported at this time.</p></main>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "Does the knowledge base support rich data or multimedia?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 18,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>The QnA Maker tool ingests and matches data in UTF-16 encoding. Any language should work as is. But, we have extensively tested the relevance of the service for English only.</p><p>If you have content from multiple languages, be sure to create a separate service for each language.</p></main>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "Does QnA Maker support non-English languages?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 19,
                    "answer": "The chat logs are tab-separated files, with the query and the frequency as the columns. Frequency is the number of times that the same query was seen. The file is sorted in descending order of frequency. Select questions from the downloaded file that you want to test, and then upload it to see what responses the system returned for them.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "What is the format of the downloaded chat logs?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 20,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>The new service doesn't include the test URL. The reason is that all calls are metered, as part of Cognitive Services. Because the test URL exposed the subscription key and the knowledge base ID, it was a security risk. </p><p>However, it's still easy to share your knowledge base and use it in chats. Check out the Azure Bot Service template for the <a href=\"https://blog.botframework.com/2016/12/13/More-Ways-to-Make-Smart-Bots/\" data-linktype=\"external\">Question and Answer bot</a>. You can create the Question and Answer bot in Skype in a few clicks, and then share it with anyone.</p></main>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "Where is the test web-chat URL from the old portal? How do I share my knowledge base with others now?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 21,
                    "answer": "<p>Current transaction limits are 10 calls per minute and 10,000 calls per month. If you require higher limits, a free premium tier is available with limits of 1,000 calls per minute and 500,000 calls per month. To sign up for this option, fill in the <a href=\"https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbR_yh9o_uvdhPnJy8sn_XBGRUMktKRFNYME1VUkVRRVkwV0hDWUNWMVVNRC4u\" data-linktype=\"external\">request form</a>. Note that these tiers are subject to change when the tool goes to general availability.</p>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "How can I increase the transaction limits?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 22,
                    "answer": "<p>If QnA Maker doesn't match any of the questions, it shows a default \"Sorry, no match found\" message. You can change this default message in the code-behind by using the <code>QnAMakerDialog</code> object. For more information, see <a href=\"https://docs.botframework.com/en-us/azure-bot-service/templates/qnamaker/#navtitle\" data-linktype=\"external\">Create a bot using the Question and Answer template</a>.</p>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "How can I change the default message when no good match is found?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 23,
                    "answer": "The tool parses only public URLs and does not support authenticated data sources at this time. Alternately, you can download the file and use the file-upload option to extract questions and answers.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "Why is my SharePoint link not getting extracted?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 24,
                    "answer": "<p>There is no direct integration of LUIS with QnA Maker. But, in your bot code, you can use LUIS and QnA Maker together. <a href=\"https://github.com/Microsoft/BotBuilder-CognitiveServices/tree/master/Node/samples/QnAMaker/QnAWithLUIS\" data-linktype=\"external\">View a sample bot</a></p>",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "How can I integrate LUIS with QnA Maker?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 25,
                    "answer": "QnAMaker is currently in free Preview and does not have support SLAs. If you want to report an issue or provide feedback, you do so on UserVoice through the \"Feedback\" button in the top navigation bar.",
                    "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
                    "questions": [
                      "How can I report issues or contact support for QnAMaker?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 26,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>While the Conversation User Interface (CUI) is upon us, at this point few developers have the expertise and tools needed to create new conversational experiences or enable existing applications and services with a conversational interface their users can enjoy. We have created the Bot Framework to make it easier for developers to build and connect great bots to users, wherever they converse, including on Microsoft's premier channels.</p><h2 id=\"channels\">Channels</h2></main>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "Why did Microsoft develop the Bot Framework?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 27,
                    "answer": "<p>We plan on making continuous improvements to the Bot Framework, including additional channels, but cannot provide a schedule at this time.If you would like a specific channel added to the framework, <a href=\"https://docs.microsoft.com/en-us/bot-framework/bot-service-resources-links-help\" data-linktype=\"relative-path\">let us know</a>.</p>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "When will you add more conversation experiences to the Bot Framework?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 28,
                    "answer": "<p>We have not provided a general mechanism for developers to add new channels to Bot Framework, but you can connect your bot to your app via the <a href=\"http://docs.botframework.com/en-us/restapi/directline/\" data-linktype=\"external\">Direct Line API</a>. If you are a developer of a communication channel and would like to work with us to enable your channel in the Bot Framework <a href=\"https://docs.microsoft.com/en-us/bot-framework/bot-service-resources-links-help\" data-linktype=\"relative-path\">we�d love to hear from you</a>.</p>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "I have a communication channel I�d like to be configurable with Bot Framework. Can I work with Microsoft to do that?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 29,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>The Bot Framework is designed to build, connect, and deploy high quality, responsive, performant and scalable bots for Skype and many other channels. The SDK can be used to create text/sms, image, button and card-capable bots (which constitute the majority of bot interactions today across conversation experiences) as well as bot interactions which are Skype-specific such as rich audio and video experiences.</p><p>If you already have a great bot and would like to reach the Skype audience, your bot can easily be connected to Skype (or any supported channel) via the Bot Builder for REST API (provided it has an internet-accessible REST endpoint).</p><h2 id=\"security-and-privacy\">Security and Privacy</h2></main>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "If I want to create a bot for Skype, what tools and services should I use?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 30,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>Each bot is its own service, and developers of these services are required to provide Terms of Service and Privacy Statements per their Developer Code of Conduct. You can access this information from the bot�s card in the Bot Directory.</p><p>to provide the I/O service, the Bot Framework transmits your message and message content (including your ID), from the chat service you used to the bot.</p></main>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "Do the bots registered with the Bot Framework collect personal information? If yes, how can I be sure the data is safe and secure? What about privacy?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 31,
                    "answer": "Users have a way to report a misbehaving bot via the bot�s contact card in the directory. Developers must abide by Microsoft terms of service to participate in the service.",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "How do you ban or remove bots from the service?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 32,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>You'll need to whitelist the following URLs in your corporate firewall:</p><ul><li>login.botframework.com (Bot authentication)</li><li>login.microsoftonline.com (Bot authentication)</li><li>westus.api.cognitive.microsoft.com (for Luis.ai NLP integration)</li><li>state.botframework.com (Bot state storage for prototyping)</li><li>cortanabfchanneleastus.azurewebsites.net (Cortana channel)</li><li>cortanabfchannelwestus.azurewebsites.net (Cortana Channel)</li><li>*.botFramework.com (channels)</li></ul><h2 id=\"rate-limiting\">Rate limiting</h2></main>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "Which specific URLs do I need to whitelist in my corporate firewall to access bot services?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 33,
                    "answer": "The Bot Framework service must protect itself and its customers against abusive call patterns (e.g., denial of service attack), so that no single bot can adversely affect the performance of other bots. To achieve this kind of protection, we�ve added rate limits (also known as throttling) to all endpoints. By enforcing a rate limit, we can restrict the frequency with which a bot can make a specific call. For example: with rate limiting enabled, if a bot wanted to post a large number of activities, it would have to space them out over a time period. Please note that the purpose of rate-limiting is not to cap the total volume for a bot. It is designed to prevent abuse of the conversational infrastructure that does not follow human conversation patterns.",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "What is rate limiting?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 34,
                    "answer": "It is unlikely you�ll experience rate limiting, even at high volume. Most rate limiting would only occur due to bulk sending of activities (from a bot or from a client), extreme load testing, or a bug. When a request is throttled, an HTTP 429 (Too Many Requests) response is returned along with a Retry-After header indicating the amount of time (in seconds) to wait before retrying the request would succeed. You can collect this information by enabling analytics for your bot via Azure Application Insights. Or, you can add code in your bot to log messages. ",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "How will I know if I�m impacted?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 35,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>It can happen if:</p><ul><li>a bot sends messages too frequently</li><li>a client of a bot sends messages too frequently</li><li>Direct Line clients request a new Web Socket too frequently</li></ul></main>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "How does rate limiting occur?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 36,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>We�re continuously tuning the rate limits to make them as lenient as possible while at the same time protecting our service and our users. Because thresholds will occasionally change, we aren�t publishing the numbers at this time. If you are impacted by rate limiting, feel free to reach out to us at <a href=\"mailto://bf-reports@microsoft.com\" data-linktype=\"external\">bf-reports@microsoft.com</a>.</p><h2 id=\"related-services\">Related Services</h2></main>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "What are the rate limits?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 37,
                    "answer": "<p>Both the Bot Framework and <a href=\"http://www.microsoft.com/cognitive\" data-linktype=\"external\">Cognitive Services</a> are new capabilities introduced at <a href=\"http://build.microsoft.com/\" data-linktype=\"external\">Microsoft Build 2016</a> that will also be integrated into Cortana Intelligence Suite at GA. Both these services are built from years of research and use in popular Microsoft products. These capabilities combined with �Cortana Intelligence� enable every organization to take advantage of the power of data, the cloud and intelligence to build their own intelligent systems that unlock new opportunities, increase their speed of business and lead the industries in which they serve their customers.</p>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "How does the Bot Framework relate to Cognitive Services?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 38,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>Cortana Intelligence is a fully managed Big Data, Advanced Analytics and Intelligence suite that transforms your data into intelligent action.It is a comprehensive suite that brings together technologies founded upon years of research and innovation throughout Microsoft (spanning advanced analytics, machine learning, big data storage and processing in the cloud) and:</p><ul><li>Allows you to collect, manage and store all your data that can seamlessly and cost effectively grow over time in a scalable and secure way.</li><li>Provides easy and actionable analytics powered by the cloud that allow you to predict, prescribe and automate decision making for the most demanding problems.</li><li>Enables intelligent systems through cognitive services and agents that allow you to see, hear, interpret and understand the world around you in more contextual and natural ways.</li></ul><p>With Cortana Intelligence, we hope to help our enterprise customers unlock new opportunities, increase their speed of business and be leaders in their industries.</p></main>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "What is Cortana Intelligence?"
                    ],
                    "metadata": []
                  },
                  {
                    "id": 39,
                    "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>Direct Line is a REST API that allows you to add your bot into your service, mobile app, or webpage.</p><p>You can write a client for the Direct Line API in any language. Simply code to the <a href=\"http://docs.botframework.com/en-us/restapi/directline/\" data-linktype=\"external\">Direct Line protocol</a>, generate a secret in the Direct Line configuration page, and talk to your bot from wherever your code lives.</p><p>Direct Line is suitable for:</p><ul><li>Mobile apps on iOS, Android, and Windows Phone, and others</li><li>Desktop applications on Windows, OSX, and more</li><li>Webpages where you need more customization than the <a href=\"https://docs.microsoft.com/en-us/bot-framework/bot-service-channel-connect-webchat\" data-linktype=\"relative-path\">embeddable Web Chat channel</a> offers</li><li>Service-to-service applications</li></ul></main>",
                    "source": "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq",
                    "questions": [
                      "What is the Direct Line channel?"
                    ],
                    "metadata": []
                  }
                ]
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      }
    },
    "/operations/{operationId}": {
      "get": {
        "tags": [
          "Operations"
        ],
        "summary": "Gets details of a specific long running operation.",
        "operationId": "Get Operation Details",
        "parameters": [
          {
            "type": "string",
            "name": "operationId",
            "in": "path",
            "required": true,
            "x-nullable": false,
            "description": "Operation id."
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the long running operation.",
            "schema": {
              "$ref": "#/definitions/Operation"
            },
            "x-nullable": true,
            "headers": {
              "RetryAfter": {
                "type": "integer",
                "description": "Indicates how long the client should wait before sending a follow up request. The header will be present only if the operation is running or has not started yet."
              }
            },
            "examples": {
              "application/json": {
                "operationState": "Succeeded",
                "createdTimestamp": "2018-03-19T02:08:46Z",
                "lastActionTimestamp": "2018-03-19T02:09:29Z",
                "resourceLocation": "https://westus.api.cognitive.microsoft.com/qnamaker/v4.0/knowledgebases/9d091697-fb8c-4ed5-9ac0-35bf8273bfff",
                "userId": "86bb8390-56c0-42c2-9f81-3de161981191",
                "operationId": "03a4f4ce-30a6-4ec6-b436-02bcdf6153e1"
              }
            }
          },
          "400": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "BadArgument",
                  "message": "Invalid input. See details.",
                  "details": [
                    {
                      "code": "ValidationFailure",
                      "message": "'Name' should not be empty.",
                      "target": "Name"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unauthorized",
                  "message": "Access denied due to invalid subscription key. Make sure you are subscribed to an API you are trying to call and provide the right key."
                }
              }
            }
          },
          "403": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Forbidden",
                  "message": "You do not have permissions to view the requested resource."
                }
              }
            }
          },
          "404": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "NotFound",
                  "message": "The requested knowledge base is not found."
                }
              }
            }
          },
          "500": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            },
            "x-nullable": true,
            "examples": {
              "application/json": {
                "error": {
                  "code": "Unspecified",
                  "message": "Something happened. Please retry after some time."
                }
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "WordAlterationsDTO": {
      "type": "object",
      "description": "Collection of word alterations.",
      "additionalProperties": false,
      "required": [
        "wordAlterations"
      ],
      "properties": {
        "wordAlterations": {
          "type": "array",
          "description": "Collection of word alterations.",
          "maxLength": 10000,
          "items": {
            "$ref": "#/definitions/AlterationsDTO"
          }
        }
      },
      "example": {
        "wordAlterations": [
          {
            "alterations": [
              "qnamaker",
              "qna maker"
            ]
          },
          {
            "alterations": [
              "botframework",
              "bot framework"
            ]
          },
          {
            "alterations": [
              "webchat",
              "web chat"
            ]
          }
        ]
      }
    },
    "AlterationsDTO": {
      "type": "object",
      "description": "Collection of words that are synonyms.",
      "additionalProperties": false,
      "required": [
        "alterations"
      ],
      "properties": {
        "alterations": {
          "type": "array",
          "description": "Words that are synonymous with each other.",
          "maxLength": 20,
          "minLength": 1,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "description": "Error response. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "additionalProperties": false,
      "properties": {
        "error": {
          "description": "The error object.",
          "allOf": [
            {
              "$ref": "#/definitions/ErrorObject"
            }
          ]
        }
      }
    },
    "ErrorObject": {
      "type": "object",
      "description": "The error object. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "additionalProperties": false,
      "required": [
        "code"
      ],
      "properties": {
        "code": {
          "description": "One of a server-defined set of error codes.",
          "allOf": [
            {
              "$ref": "#/definitions/ErrorCode"
            }
          ]
        },
        "message": {
          "type": "string",
          "description": "A human-readable representation of the error."
        },
        "target": {
          "type": "string",
          "description": "The target of the error."
        },
        "details": {
          "type": "array",
          "description": "An array of details about specific errors that led to this reported error.",
          "items": {
            "$ref": "#/definitions/ErrorObject"
          }
        },
        "innerError": {
          "description": "An object containing more specific information than the current object about the error.",
          "allOf": [
            {
              "$ref": "#/definitions/InnerErrorModel"
            }
          ]
        }
      }
    },
    "ErrorCode": {
      "type": "string",
      "description": "Human readable error code.",
      "x-enumNames": [
        "BadArgument",
        "Forbidden",
        "NotFound",
        "KbNotFound",
        "Unauthorized",
        "Unspecified",
        "EndpointKeysError",
        "QuotaExceeded",
        "QnaRuntimeError",
        "SKULimitExceeded",
        "OperationNotFound",
        "ServiceError",
        "ValidationFailure",
        "ExtractionFailure"
      ],
      "enum": [
        "BadArgument",
        "Forbidden",
        "NotFound",
        "KbNotFound",
        "Unauthorized",
        "Unspecified",
        "EndpointKeysError",
        "QuotaExceeded",
        "QnaRuntimeError",
        "SKULimitExceeded",
        "OperationNotFound",
        "ServiceError",
        "ValidationFailure",
        "ExtractionFailure"
      ]
    },
    "InnerErrorModel": {
      "type": "object",
      "description": "An object containing more specific information about the error. As per Microsoft One API guidelines - https://github.com/Microsoft/api-guidelines/blob/vNext/Guidelines.md#7102-error-condition-responses.",
      "additionalProperties": false,
      "properties": {
        "code": {
          "type": "string",
          "description": "A more specific error code than was provided by the containing error."
        },
        "innerError": {
          "description": "An object containing more specific information than the current object about the error.",
          "allOf": [
            {
              "$ref": "#/definitions/InnerErrorModel"
            }
          ]
        }
      }
    },
    "EndpointKeysDTO": {
      "type": "object",
      "description": "Schema for EndpointKeys generate/refresh operations.",
      "additionalProperties": false,
      "properties": {
        "primaryEndpointKey": {
          "type": "string",
          "description": "Primary Access Key."
        },
        "secondaryEndpointKey": {
          "type": "string",
          "description": "Secondary Access Key."
        }
      }
    },
    "KnowledgebasesDTO": {
      "type": "object",
      "description": "Collection of knowledgebases owned by a user.",
      "additionalProperties": false,
      "properties": {
        "knowledgebases": {
          "type": "array",
          "description": "Collection of knowledgebase records.",
          "items": {
            "$ref": "#/definitions/KnowledgebaseDTO"
          }
        }
      }
    },
    "KnowledgebaseDTO": {
      "type": "object",
      "description": "Response schema for CreateKb operation.",
      "additionalProperties": false,
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique id that identifies a knowledgebase."
        },
        "hostName": {
          "type": "string",
          "description": "URL host name at which the knowledgebase is hosted."
        },
        "lastAccessedTimestamp": {
          "type": "string",
          "description": "Time stamp at which the knowledgebase was last accessed (UTC)."
        },
        "lastChangedTimestamp": {
          "type": "string",
          "description": "Time stamp at which the knowledgebase was last modified (UTC)."
        },
        "lastPublishedTimestamp": {
          "type": "string",
          "description": "Time stamp at which the knowledgebase was last published (UTC)."
        },
        "name": {
          "type": "string",
          "description": "Friendly name of the knowledgebase."
        },
        "userId": {
          "type": "string",
          "description": "User who created / owns the knowledgebase."
        },
        "urls": {
          "type": "array",
          "description": "URL sources from which Q-A were extracted and added to the knowledgebase.",
          "items": {
            "type": "string"
          }
        },
        "sources": {
          "type": "array",
          "description": "Custom sources from which Q-A were extracted or explicitly added to the knowledgebase.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CreateKbDTO": {
      "type": "object",
      "description": "Post body schema for CreateKb operation.",
      "additionalProperties": false,
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Friendly name for the knowledgebase.",
          "maxLength": 100,
          "minLength": 1
        },
        "qnaList": {
          "type": "array",
          "description": "List of Q-A (QnADTO) to be added to the knowledgebase. Q-A Ids are assigned by the service and should be omitted.",
          "maxLength": 1000,
          "items": {
            "$ref": "#/definitions/QnADTO"
          }
        },
        "urls": {
          "type": "array",
          "description": "List of URLs to be used for extracting Q-A.",
          "maxLength": 5,
          "items": {
            "type": "string"
          }
        },
        "files": {
          "type": "array",
          "description": "List of files from which to Extract Q-A.",
          "maxLength": 5,
          "items": {
            "$ref": "#/definitions/FileDTO"
          }
        }
      },
      "example": {
        "name": "QnA Maker FAQ",
        "qnaList": [
          {
            "id": 0,
            "answer": "You can change the default message if you use the QnAMakerDialog. See this for details: https://docs.botframework.com/en-us/azure-bot-service/templates/qnamaker/#navtitle",
            "source": "Custom Editorial",
            "questions": [
              "How can I change the default message from QnA Maker?"
            ],
            "metadata": []
          },
          {
            "id": 0,
            "answer": "You can use our REST apis to manage your KB. See here for details: https://westus.dev.cognitive.microsoft.com/docs/services/58994a073d9e04097c7ba6fe/operations/58994a073d9e041ad42d9baa",
            "source": "Custom Editorial",
            "questions": [
              "How do I programmatically update my KB?"
            ],
            "metadata": [
              {
                "name": "category",
                "value": "api"
              }
            ]
          }
        ],
        "urls": [
          "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
          "https://docs.microsoft.com/en-us/bot-framework/resources-bot-framework-faq"
        ],
        "files": [
          {
            "fileName": "SurfaceManual.pdf",
            "fileUri": "https://download.microsoft.com/download/2/9/B/29B20383-302C-4517-A006-B0186F04BE28/surface-pro-4-user-guide-EN.pdf"
          }
        ]
      }
    },
    "QnADTO": {
      "type": "object",
      "description": "Q-A object.",
      "additionalProperties": false,
      "required": [
        "answer",
        "questions"
      ],
      "properties": {
        "id": {
          "type": "integer",
          "description": "Unique id for the Q-A.",
          "format": "int32"
        },
        "answer": {
          "type": "string",
          "description": "Answer text",
          "maxLength": 25000,
          "minLength": 1
        },
        "source": {
          "type": "string",
          "description": "Source from which Q-A was indexed. eg. https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/FAQs"
        },
        "questions": {
          "type": "array",
          "description": "List of questions associated with the answer.",
          "maxLength": 1000,
          "minLength": 1,
          "items": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "array",
          "description": "List of metadata associated with the answer.",
          "maxLength": 10,
          "items": {
            "$ref": "#/definitions/MetadataDTO"
          }
        }
      }
    },
    "MetadataDTO": {
      "type": "object",
      "description": "Name - value pair of metadata.",
      "additionalProperties": false,
      "required": [
        "name",
        "value"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "Metadata name.",
          "maxLength": 100,
          "minLength": 1
        },
        "value": {
          "type": "string",
          "description": "Metadata value.",
          "maxLength": 100,
          "minLength": 1
        }
      }
    },
    "FileDTO": {
      "type": "object",
      "description": "DTO to hold details of uploaded files.",
      "additionalProperties": false,
      "required": [
        "fileName",
        "fileUri"
      ],
      "properties": {
        "fileName": {
          "type": "string",
          "description": "File name. Supported file types are \".tsv\", \".pdf\", \".txt\", \".docx\", \".xlsx\".",
          "maxLength": 200,
          "minLength": 1
        },
        "fileUri": {
          "type": "string",
          "description": "Public URI of the file."
        }
      }
    },
    "Operation": {
      "type": "object",
      "description": "Record to track long running operation.",
      "additionalProperties": false,
      "required": [
        "operationState",
        "createdTimestamp",
        "lastActionTimestamp"
      ],
      "properties": {
        "operationState": {
          "description": "Operation state.",
          "allOf": [
            {
              "$ref": "#/definitions/OperationState"
            }
          ]
        },
        "createdTimestamp": {
          "type": "string",
          "description": "Timestamp when the operation was created.",
          "format": "date-time"
        },
        "lastActionTimestamp": {
          "type": "string",
          "description": "Timestamp when the current state was entered.",
          "format": "date-time"
        },
        "resourceLocation": {
          "type": "string",
          "description": "Relative URI to the target resource location for completed resources."
        },
        "userId": {
          "type": "string",
          "description": "User Id"
        },
        "operationId": {
          "type": "string",
          "description": "Operation Id."
        },
        "errorResponse": {
          "description": "Error details in case of failures.",
          "allOf": [
            {
              "$ref": "#/definitions/ErrorResponse"
            }
          ]
        }
      },
      "allOf": [
        {
          "$ref": "#/definitions/BaseTableRecord"
        }
      ]
    },
    "OperationState": {
      "type": "string",
      "description": "Enumeration of operation states.",
      "x-enumNames": [
        "Failed",
        "NotStarted",
        "Running",
        "Succeeded"
      ],
      "enum": [
        "Failed",
        "NotStarted",
        "Running",
        "Succeeded"
      ]
    },
    "BaseTableRecord": {
      "type": "object",
      "description": "Base class for entities that need to be stored in table storage.",
      "x-abstract": true,
      "additionalProperties": false
    },
    "KnowledgebaseEnvironment": {
      "type": "string",
      "description": "Enumeration of knowledgebase environments.",
      "x-enumNames": [
        "Prod",
        "Test"
      ],
      "enum": [
        "Prod",
        "Test"
      ]
    },
    "QnADocumentsDTO": {
      "type": "object",
      "description": "List of QnADTO",
      "additionalProperties": false,
      "properties": {
        "qnaDocuments": {
          "type": "array",
          "description": "List of answers.",
          "items": {
            "$ref": "#/definitions/QnADTO"
          }
        }
      },
      "example": {
        "qnaDocuments": [
          {
            "id": 1,
            "answer": "You can change the default message if you use the QnAMakerDialog. See this for details: https://docs.botframework.com/en-us/azure-bot-service/templates/qnamaker/#navtitle",
            "source": "Custom Editorial",
            "questions": [
              "How can I change the default message from QnA Maker?"
            ],
            "metadata": []
          },
          {
            "id": 2,
            "answer": "You can use our REST apis to manage your KB. See here for details: https://westus.dev.cognitive.microsoft.com/docs/services/58994a073d9e04097c7ba6fe/operations/58994a073d9e041ad42d9baa",
            "source": "Custom Editorial",
            "questions": [
              "How do I programmatically update my KB?"
            ],
            "metadata": [
              {
                "name": "category",
                "value": "api"
              }
            ]
          },
          {
            "id": 3,
            "answer": "QnA Maker provides an FAQ data source that you can query from your bot or application. Although developers will find this useful, content owners will especially benefit from this tool. QnA Maker is a completely no-code way of managing the content that powers your bot or application.",
            "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
            "questions": [
              "Who is the target audience for the QnA Maker tool?"
            ],
            "metadata": []
          },
          {
            "id": 4,
            "answer": "<p>You can sign in with your <a href=\"https://account.microsoft.com/account\" data-linktype=\"external\">Microsoft account</a></p>",
            "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
            "questions": [
              "How do I sign in to the QnA Maker portal?"
            ],
            "metadata": []
          },
          {
            "id": 5,
            "answer": "<p>Yes, currently the QnA Maker tool is free to use. However, usage is metered for each account. For more information, see <a href=\"https://qnamaker.ai/Documentation/Authentication\" data-linktype=\"external\">Authentication and subscription keys</a></p>",
            "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
            "questions": [
              "Is the QnA Maker Service free?"
            ],
            "metadata": []
          },
          {
            "id": 6,
            "answer": "It�s possible that the tool can't auto-extract some question-and-answer (QnA) content from valid FAQ URLs. In such cases, you can paste the QnA content in a .txt file and see if the tool can ingest it. Alternately, you can editorially add content to your knowledge base.",
            "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
            "questions": [
              "My URLs have valid FAQ content, but the tool cannot extract them. Why not?"
            ],
            "metadata": []
          },
          {
            "id": 7,
            "answer": "<main id=\"main\" role=\"main\" class=\"content\" ms.cmpgrp=\"content\" data-bi-name=\"content\" lang=\"en-us\" dir=\"ltr\"><p>The tool supports the following file formats for ingestion:</p><ul><li>.tsv: QnA contained in the format Question(tab)Answer.</li><li>.txt, .docx, .pdf: QnA contained as regular FAQ content--that is, a sequence of questions and answers.</li></ul></main>",
            "source": "https://docs.microsoft.com/en-in/azure/cognitive-services/qnamaker/faqs",
            "questions": [
              "What format does the tool expect for the file content?"
            ],
            "metadata": []
          },
          {
            "id": 8,
[...]
