{
  "extension": [
    ".js"
  ],
  "include": [
    "lib/**/*.js"
  ],
  "exclude": [
    "**/node_modules/**",
    "**/tests/**",
    "**/coverage/**",
    "**/*.d.ts",
    "../botframework-connector/**"
  ],
  "reporter": [
    "html"
  ],
  "all": true,
  "cache": true
}